* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
 }

 header h1{
    font-size: 50px;
    font-family: sans-serif;
 }

 header div{
    font-size: 20px;
    font-family: sans-serif;
 }

section {
    background: url(/images/condominio.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;

}

.seleccion_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 500px;
}

.logo_Reparti{
    background-color: yellow;
    position: relative;
    display: inline-block;
    width: 250px;
    border: solid 1px black;
    border-radius: 100%;
}

.logo_pedidos{
    position: relative;
    display: inline-block;
    opacity: 70%;
    width: 250px;
}


.logo_usuario{
    width: 50px;
}

footer {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(67, 87, 124);
    height: 60px;
}