* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.titulo{
    background-color: aliceblue ;
}

.img_logo{
    height: 100px;
    width: 100px;
}

.screen_login {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: antiquewhite;
}

.container_log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:1440px){

}