.condominio{
    font-size: 220%;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    align-items: center;
    margin-left: 100px;
}

.logo {
    animation-duration: 2s;
    animation-name: screen-saver;
    animation-direction: alternate;
  }
  
  @keyframes screen-saver {
      from {
        margin-left: -150%;
      }
      to {
        margin-right: 100%;
      }
    }
  