
  .img-1{
    background-image: url("../../assets/image/fondo_login.jpg");
    background-size: cover;
    background-position: center end;
}

.bg__login {
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}