.bg__land {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 900px) {}

.logo {
  animation-duration: 2s;
  animation-name: screen-saver;
  animation-direction: alternate;
}

@keyframes screen-saver {
    from {
      margin-left: -150%;
    }
    to {
      margin-right: 100%;
    }
  }

  .but:hover {
    transform: scale(1.2);
  transition: 0.3s all;
  }
  